# Project specific stuff
target
# rustfmt
*.bk

# Editor Stuff
*.sublime-project
*.sublime-workspace
.*.swp
*.bak
*~
.vscode

# System stuff
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.directory
