[package]
authors = ["Without Boats <lee@libertad.ucsd.edu>", "Pascal Hertleif <killercup@gmail.com>"]
description = "Edit your Cargo.toml from the command line."
homepage = "https://github.com/killercup/cargo-edit"
license = "Apache-2.0/MIT"
name = "cargo-edit"
repository = "https://github.com/killercup/cargo-edit"
version = "0.1.0"

[[bin]]
name = "cargo-list"
path = "src/bin/list/main.rs"

[features]
default = []
dev = ["clippy"]
[[bin]]
name = "cargo-add"
path = "src/bin/add/main.rs"

[dependencies]
docopt = "0.6"
pad = "0.1"
rustc-serialize = "0.3"
semver = "0.1"
toml = "0.1"
clippy = {version = "0.0.19", optional = true}

[dev-dependencies]
assert_cli = "0.1.0"
tempdir = "0.3"
