[package]
authors = ["Without Boats <lee@libertad.ucsd.edu>", "Pascal Hertleif <killercup@gmail.com>", "Sebastian Garrido <sebasgarcep@gmail.com>", "Jonas Platte <mail@jonasplatte.de>"]
categories = ["development-tools", "development-tools::cargo-plugins"]
description = "This extends Cargo to allow you to add and remove dependencies by modifying your `Cargo.toml` file from the command line. It contains `cargo add` and `cargo rm`."
documentation = "http://killercup.github.io/cargo-edit/"
homepage = "https://github.com/killercup/cargo-edit"
keywords = ["cargo", "cargo-subcommand", "cli", "dependencies", "crates"]
license = "Apache-2.0/MIT"
name = "cargo-edit"
readme = "README.md"
repository = "https://github.com/killercup/cargo-edit"
version = "0.1.6"

[badges]
travis-ci = { repository = "killercup/cargo-edit" }
appveyor = { repository = "killercup/cargo-edit" }

[[bin]]
name = "cargo-add"
path = "src/bin/add/main.rs"
[[bin]]
name = "cargo-rm"
path = "src/bin/rm/main.rs"

[dependencies]
docopt = "0.8"
pad = "0.1"
quick-error = "1.0.0"
regex = "0.2"
reqwest = "0.6"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
toml = "0.4"

[dependencies.semver]
features = ["serde"]
version = "0.7"

[dev-dependencies]
assert_cli = "0.2.0"
pretty_assertions = "0.2.1"
tempdir = "0.3"

[features]
default = []
test-external-apis = []
unstable = []
