[package]
name = "None"
version = "0.1.0"

[lib]
path = "dummy.rs"

[dependencies]
docopt = "docopt--CURRENT_VERSION_TEST"
pad = "pad--CURRENT_VERSION_TEST"
serde_json = "serde_json--CURRENT_VERSION_TEST"
syn = { version = "syn--CURRENT_VERSION_TEST", default-features = false, features = ["parsing"] }
tar = { version = "tar--CURRENT_VERSION_TEST", default-features = false }
ftp = "ftp--CURRENT_VERSION_TEST"

[dependencies.semver]
features = ["serde"]
version = "semver--CURRENT_VERSION_TEST"

[dev-dependencies]
assert_cli = "assert_cli--CURRENT_VERSION_TEST"
tempdir = "tempdir--CURRENT_VERSION_TEST"

[build-dependencies]
serde = { version = "1.0", git= "https://github.com/serde-rs/serde.git" }

[target.'cfg(unix)'.dependencies]
openssl = "openssl--CURRENT_VERSION_TEST"

[target."x86_64/windows.json"]
# let's make it an inline table
dependencies = { rget = "rget--CURRENT_VERSION_TEST" }

[target.'cfg(target_arch = "x86_64")'.dev-dependencies]
geo = { version = "geo--CURRENT_VERSION_TEST", default-features = false, features = ["postgis-integration"] }

[target.foo.build-dependencies]
ftp = "ftp--CURRENT_VERSION_TEST"

[features]
default = []
test-external-apis = []
unstable = []
